page{
  //color
  --color-primary:#E60000;
  --color-success:#52c41a;
  --color-warning:#fe931f;
  --color-error:#E60000;
  //font-size
  --font-size-2xs:12rpx;
  --font-size-xs:16rpx;
  --font-size-sm:20rpx;
  --font-size-base:24rpx;
  --font-size-md:28rpx;
  --font-size-lg:32rpx;
  --font-size-xl:36rpx;
  --font-size-2xl:40rpx;
}